.viewport {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: arial, sans-serif;
	font-size: 13px;
}

a {
	padding-left:5px;
	text-decoration:none;
	color:rgba(0, 0, 0, 0.54);;
	margin:2px;
}

li {
	display: inline;
}





/* Next 3 selectors handled the header in it's entirety */
.header {
	display:flex;
	font-family:arial, sans-serif;
	font-size:13px;
	width:100%;
	position:absolute;
	align-items:center;
	padding: 10px;
	}

.top-right-nav {
	display:flex;
	align-items: center;
}

.top-left-nav {
	position: relative;
	/* left: 20px; */
	/* top: 10px; */
	flex: 3;
	
}

/********************************************************/





/* Next 4 selectors handles the center of the screen (logo, search bar, Google Search btn, FL btn) */
.center {
	text-align: center;
	padding-top: 151px;
	}

.user-main {
	text-align:center;
	padding-top:33px;
}

.user-search {
	text-align:center;
	padding-top:50px;
	}

#search-input {
	text-align:center;
	padding-top:19px;
	size: 50px;
}
/********************************************************/


	
/* footer { */
	/* background-color:#f2f2f2; */
	/* font-family:arial,sans-serif; */
	/* color:rgba(0, 0, 0, 0.54); */
	/* position:fixed; */
	/* width:100%; */
	/* margin-left:-8px; */
	/* display:flex; */
	/* flex-direction:column; */
	/* bottom:0; */
	
	/* } */
